<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Kundalini Patagonia</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="img/favicon.png" rel="icon">
  <link href="img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,500,600,700,700i|Montserrat:300,400,500,600,700"
    rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="lib/animate/animate.min.css" rel="stylesheet">
  <link href="lib/ionicons/css/ionicons.min.css" rel="stylesheet">
  <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="lib/lightbox/css/lightbox.min.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="css/style.css" rel="stylesheet">

  <!-- =======================================================
    Theme Name: Rapid
    Theme URL: https://bootstrapmade.com/rapid-multipurpose-bootstrap-business-template/
    Author: BootstrapMade.com
    License: https://bootstrapmade.com/license/
  ======================================================= -->
</head>

<body>
  <!--==========================
  Header
  ============================-->
  <header id="header">

    <div id="topbar">
      <div class="container">
        <div class="social-links">
          <a href="http://www.facebook.com/kundalinipatagonia" target="_blank" class="facebook"><i
              class="fa fa-facebook"></i></a>
          <a href="http://www.instagram.coom/kundalinipatagonia" target="_blank" class="instagram"><i
              class="fa fa-instagram"></i></a>
        </div>
      </div>
    </div>

    <div class="container">

      <div class="logo float-left">
        <!-- Uncomment below if you prefer to use an image logo -->
        <!--<h1 class="text-light"><a href="#intro" class="scrollto"><span>Kundalini Patagonia</span></a></h1>-->
        <a href="#header" class="scrollto"><img src="img/logokundalini.png" alt="" class="img-fluid"></a>
      </div>

      <nav class="main-nav float-right d-none d-lg-block">
        <ul>
          <li class="active"><a href="#intro">Inicio</a></li>
          <li><a href="#about">Quienes Somos</a></li>
          <li><a href="#proximos">Eventos</a></li>
          <li><a href="#clases">Clases Regulares</a></li>
          <li><a href="#team">Profesores</a></li>
          <li><a href="#footer">Contacto</a></li>
        </ul>
      </nav><!-- .main-nav -->

    </div>
  </header><!-- #header -->

  <!--==========================
    Intro Section
  ============================-->
  <section id="intro" class="clearfix">
    <div class="container d-flex h-100">
      <div class="row justify-content-center align-self-center">
        <div class="col-md-6 intro-info order-md-first order-last">
          <h2>Kundalini<br><span>Patagonia!</span></h2>
          <div>
            <a href="#proximos" class="btn-get-started scrollto">Próximos Eventos</a>
          </div>
        </div>

        <div class="col-md-6 intro-img order-md-last order-first">
          <img src="img/logo.png" alt="" class="img-fluid">
        </div>
      </div>

    </div>
  </section>

  <main id="main">

    <!--==========================
      About Us Section
    ============================-->
    <section id="about">

      <div class="container">
        <div class="row">

          <div class="col-lg-5 col-md-6">
            <div class="about-img">
              <img src="img/who01.jpg" alt="">
            </div>
            <div class="about-img">
              <img src="img/who02.jpg" alt="">
            </div>
          </div>

          <div class="col-lg-7 col-md-6">
            <div class="about-content">
              <h2>¿Quienes Somos?</h2>
              <p style="text-align: justify;"><span>Kundalini Patagonia nace del desaf&iacute;o a servir a toda
                  la&nbsp;</span><em><strong>P</strong><strong>atagonia&nbsp;Chileno-Argentina,</strong></em><span>&nbsp;desaf&iacute;o
                  propuesto por el Maestro Intenacional de Kundalini Yoga&nbsp;</span><a
                  href="https://www.sikhdharma.org/author/gurubachan-singh/" target="_blank"
                  rel="noopener noreferrer"><em><strong>Singh Sahib Gurubachan Singh
                      Khalsa</strong></em></a><span>&nbsp;en el a&ntilde;o 2016. &Eacute;l nos inspir&oacute; a unirnos
                  y gestionar una jornada de sanaci&oacute;n que llamamos&nbsp;</span><em><strong>Festival Yoga
                    Kundalini Patagonia</strong></em><span>, el cual el a&ntilde;o 2017, su primer a&ntilde;o,
                  convoc&oacute; a m&aacute;s de 300 participantes.</span></p>
              <p style="text-align: justify;">Nuestra agrupaci&oacute;n se compone&nbsp;b&aacute;sicamente de
                practicantes de Kundalini Yoga, personas que deseamos sanar y servir. Cada uno de nosotros trabaja en
                diferentes &aacute;mbitos y nos sentimos comprometidos y motivados en difundir la pr&aacute;ctica seria
                y amorosa de esta disciplina, para generar instancias saludables, familiares y entretenidas en toda la
                Patagonia.</p>
              <p style="text-align: justify;">Nos encontramos f&iacute;sicamente en Punta Arenas, regi&oacute;n de
                Magallanes y Ant&aacute;rtica Chilena y esperamos poco a poco unirnos en pr&aacute;ctica,
                meditaci&oacute;n y coraz&oacute;n con las dem&aacute;s ciudades de la regi&oacute;n y de la Patagonia
                Argentina.</p>
              <p style="text-align: justify;">Como agrupaci&oacute;n nos consolidamos legalmente el 12 de enero de 2018
                y esperamos seguir creciendo y compartiendo con todos. Nuestra directiva est&aacute; conformada por:</p>
              <ul>
                <li><i class="ion-android-checkmark-circle"></i>Presidenta&nbsp;: Dennis Ojeda.</li>
                <li><i class="ion-android-checkmark-circle"></i>Secretaria&nbsp;: Alejandra Hern&aacute;ndez</li>
                <li><i class="ion-android-checkmark-circle"></i>Tesorera &nbsp;: Fabiola S&aacute;nchez</li>
              </ul>
            </div>
          </div>
        </div>
      </div>

    </section><!-- #about -->

    <!--==========================
      Call To Action Section
    ============================-->
    <section id="call-to-action" class="wow fadeInUp">
      <div class="container">
        <div class="row">
          <div class="col-lg-9 text-center text-lg-left">
            <h3 class="cta-title">¿Quiéres cooperar con nuestras actividades?</h3>
            <p class="cta-text"> Escríbenos mediante nuestro formulario de contacto y se un <b>¡Sevadar!</b></p>
            <p class="cta-text">Yoga es unión, todos están invitados a ser parte de esta revolución, de este encuentro
              de corazones al servicio del amor universal.

              ¡Te invitamos a ser parte de nosotros!</p>
          </div>
          <div class="col-lg-3 cta-btn-container text-center">
            <a class="cta-btn align-middle" href="#footer">Escribenos aquí</a>
          </div>
        </div>

      </div>
    </section><!-- #call-to-action -->


    <!--==========================
      Clients Section
    ============================-->
    <section id="proximos">
      <div class="container">

        <header class="section-header">
          <h3>Próximos Eventos</h3>
        </header>

        <div class="row justify-content-center">
          <div class="col-lg-8">

            <div class="owl-carousel testimonials-carousel wow fadeInUp">

              <div class="testimonial-item">
                <img src="img/evento-1.jpg" class="testimonial-img" alt="">
                <h3>21 dias de meditacion por la plaz</h3>
                <h4>04-nov-19 | 06:00 a 06:30 A.M. | Calle Hornillas #0941</h4>
                <p>
                  Ven a participar de esta hermosa actividad que dura 21 días, en la cual nos reunimos a meditar por la
                  paz de Chile y el mundo.<br />
                </p>
                    <a class="btn" href="#" role="button">Más información</a>
              </div>

            </div>

          </div>
        </div>


      </div>
    </section><!-- #proximos -->
    <!--==========================
      Eventss Section
    ============================-->

    <section id="eventos">
      <div class="container">
        <header class="section-header">
          <h3>Eventos Realizados</h3>
          <p>Conoce todos nuestros</p>
        </header>


        <ul id="eventos-list" class="wow fadeInUp">
          <li>
            <a data-toggle="collapse" class="collapsed" href="#eventos1">2019<i class="ion-android-remove"></i></a>
            <div id="eventos1" class="collapse" data-parent="#eventos-list">
              <p>
                <ul>
                  <li><a href="https://www.facebook.com/kundalinipatagonia/photos/?tab=album&album_id=2798083980210708"
                      target="_blank">III Festival de Yoga "Descubre, siente, conecta"</a></li>
                  <li><a
                      href="https://www.facebook.com/pg/kundalinipatagonia/photos/?tab=album&album_id=2621934567825651&ref=page_internal"
                      target="_blank">2da Puja más austral del mundo</a></li>
                  <li><a href="" target="_blank">Baño de Gong – Alineación de Chakras</a></li>
                </ul>
              </p>
            </div>
          </li>

          <li>
            <a data-toggle="collapse" href="#eventos2" class="collapsed">2018<i class="ion-android-remove"></i></a>
            <div id="eventos2" class="collapse" data-parent="#eventos-list">
              <ul>
                <li><a href="https://www.facebook.com/kundalinipatagonia/photos/?tab=album&album_id=2134630116556101"
                    target="_blank">II Festival de Kundalini Yoga en la Patagonia, 29 y 20 de septiembre, Punta
                    Arenas</a></li>
                <li><a href="https://www.facebook.com/kundalinipatagonia/photos/?tab=album&album_id=1945005928851855"
                    target="_blank">Baño de Gong, Punta Arenas</a></li>
                <li><a href="https://www.facebook.com/kundalinipatagonia/photos/?tab=album&album_id=1952331334785981"
                    target="_blank">Baño de Gong, Puerto Natales</a></li>
                <li><a href="#" target="_blank">Baño de Gong, Porvenir</a></li>
                <li><a href="https://www.facebook.com/kundalinipatagonia/photos/?tab=album&album_id=1974175912601523"
                    target="_blank">Día Internacional del Yoga</a></li>
                <li><a href="https://www.facebook.com/kundalinipatagonia/photos/?tab=album&album_id=2045112755507838"
                    target="_blank">Respira, Expande tu corazón</a></li>
                <li><a href="https://www.facebook.com/kundalinipatagonia/photos/?tab=album&album_id=2092473894105057"
                    target="_blanl">Meditación por la paz, 25 de agosto, Punta Arenas</a></li>
                <li><a href="https://www.facebook.com/kundalinipatagonia/photos/?tab=album&album_id=2092673870751726"
                    target="_blank">Clase de Kundalini Yoga, 01 de Septiembre, Punta Arenas</a></li>
                <li><a href="https://www.facebook.com/kundalinipatagonia/posts/2106459229373190"
                    target="_blank">Respira, Escucha tu corazón, viernes 21 de septiembre, Rio Gallegos, Argentina</a>
                </li>
                <li><a href="https://www.facebook.com/kundalinipatagonia/posts/2089967871022326"
                    target="_blank">Respira, Escucha tu corazón, sábado 22 de septiembre, El Calafate, Argentina</a>
                </li>
              </ul>

            </div>
          </li>

          <li>
            <a data-toggle="collapse" href="#eventos3" class="collapsed">2017<i class="ion-android-remove"></i></a>
            <div id="eventos3" class="collapse" data-parent="#eventos-list">
              <ul>
                <li><a href="https://www.facebook.com/kundalinipatagonia/photos/?tab=album&album_id=1696860656999718"
                    target="_blank">I Festival de Kundalini Yoga en la Patagonia</a></li>
                <li><a href="https://www.facebook.com/events/193429231212323/" target="_blank">Sirviendo y meditando</a>
                </li>
              </ul>
            </div>
          </li>
        </ul>

      </div>
    </section><!-- #eventos -->

  </main>

  <!--==========================
      clases Section
    ============================-->
  <section id="clases" class="wow fadeInUp section-bg">

    <div class="container">

      <header class="section-header">
        <h3>Clases Regulares</h3>
        <p>Taller abierto y gratuito financiado por el IND, es una actividad que se ha dado desde 2016 de manera
          ininterrumpida hasta hoy, todos invitados, hombres, mujeres y jóvenes. de 14 a 90 años. Excepto gestantes.
          Clases impartidas por Kamalpal Kaur y Prakashdev Kaur, con un programa anual de desarrollo del ser humano de
          acuerdo a las enseñanzas de Yogi Bhajan.
          Inscripciones al momento de la clase.
          Asistir con ropa cómoda, llevar agua y manta para la relajación. Consultas a kundalinipatagonia@gmail.com</p>
      </header>

      <div class="row flex-items-xs-middle flex-items-xs-center">

        <!-- Basic Plan  -->
        <div class="col-xs-12 col-lg-4">
          <div class="card">
            <img src="img/claseAM.jpg" class="card-img-top" alt="...">
            <div class="card-block">
              <h4 class="card-title">
                Clases A.M.
              </h4>
              <ul class="list-group">
                <li class="list-group-item">Lunes y Jueves</li>
                <li class="list-group-item">09:30 a 11:30</li>
                <li class="list-group-item">Calle Uruguay 01560-A</li>
              </ul>
              <a href="#" class="btn">Ver Mapa</a>
            </div>
          </div>
        </div>

        <!-- Regular Plan  -->
        <div class="col-xs-12 col-lg-4">
          <div class="card">
            <img src="img/clasePM.jpg" class="card-img-top" alt="...">
            <div class="card-block">
              <h4 class="card-title">
                Clases P.M.
              </h4>
              <ul class="list-group">
                <li class="list-group-item">Lunes y Miércoles</li>
                <li class="list-group-item">19:30 a 21:00</li>
                <li class="list-group-item">Calle Hornillas 01064. Sede Vecinal Villa Split</li>
              </ul>
              <a href="#" class="btn">Ver Mapa</a>
            </div>
          </div>
        </div>
      </div>
    </div>

  </section><!-- #clases -->


  <!--==========================
      Team Section
    ============================-->
  <section id="team" class="section">
    <div class="container">
      <div class="section-header">
        <h3>Profesores</h3>
        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</p>
      </div>

      <div class="row">

        <div class="col-lg-3 col-md-6 wow fadeInUp">
          <div class="member">
            <img src="img/Kamalpal.jpg" class="img-fluid" alt="">
            <div class="member-info">
              <div class="member-info-content">
                <h4>Kamalpal Kaur</h4>
                <span>Profesora K.Y.</span>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
          <div class="member">
            <img src="img/Prakashdev.jpg" class="img-fluid" alt="">
            <div class="member-info">
              <div class="member-info-content">
                <h4>Prakashdev Kaur</h4>
                <span>Profesora K.Y.</span>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
          <div class="member">
            <img src="img/Teja.jpg" class="img-fluid" alt="">
            <div class="member-info">
              <div class="member-info-content">
                <h4>Teja Kaur</h4>
                <span>Profesora K.Y.</span>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

    </div>
  </section><!-- #team -->



  <!--==========================
      Call To Action Section
    ============================-->
  <section id="call-to-action" class="wow fadeInUp">
    <div class="container">
      <div class="row">
        <div class="col-lg-9 text-center text-lg-left">
          <h3 class="cta-title">La ley del universo es:</h3>
          <p class="cta-text">
            Obedece, sirve, ama y sé excelente. unirse a Dios deben obedecer esta ley. Y esta nunca cambiará. <br />

          </p>
        </div>
        <div class="col-lg-3 cta-btn-container text-center">
          <a class="cta-btn align-middle" href="#">Yogi Bhajan</a>
        </div>
      </div>

    </div>
  </section><!-- #call-to-action -->

  <!--==========================
    Footer
  ============================-->
  <footer id="footer" class="section-bg">
    <div class="footer-top">
      <div class="container">

        <div class="row">

          <div class="col-lg-6">

            <div class="row">

              <div class="col-sm-6">

                <div class="footer-info">
                  <h3>KP</h3>
                  <p>Kundalini Patagonia nace del desafío a servir a toda la Patagonia Chileno-Argentina, desafío
                    propuesto por el Maestro Intenacional de Kundalini Yoga Singh Sahib Gurubachan Singh Khalsa en el
                    año 2016. </p>
                  <div class="container"><img src="img/logo.png" width="160px"></div>

                </div>
              </div>

              <div class="col-sm-6">
                <div class="footer-links">
                  <h4>Secciones</h4>
                  <ul>
                    <li><a href="/">Inicio</a></li>
                    <li><a href="#about">Nosotros</a></li>
                    <li><a href="#proximos">Eventos</a></li>
                    <li><a href="#clases">Clases Regulares</a></li>
                    <li><a href="#team">Profesores</a></li>
                  </ul>
                </div>

                <div class="footer-links">
                  <h4>Contacto</h4>
                  <p>
                    Punta Arenas <br>
                    Chile <br>
                    <strong>Móvil:</strong> +56 9 54091729 <br>
                    <strong>Email:</strong> kundalinipatagonia@gmail.com<br>
                  </p>
                </div>

                <div class="social-links">
                  <a href="http://www.facebook.com/kundalinipatagonia" target="_blank" class="facebook"><i
                      class="fa fa-facebook"></i></a>
                  <a href="http://www.instagram.coom/kundalinipatagonia" target="_blank" class="instagram"><i
                      class="fa fa-instagram"></i></a>
                </div>

              </div>

            </div>

          </div>

          <div class="col-lg-6">

            <div class="form">

              <h4>Envianos un mensaje</h4>
              <p>Contacta con el equipo de Kundalini Patagonia mediante este formulario:</p>
              <form action="" method="post" role="form" class="contactForm">
                <div class="form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Nombre"
                    data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                  <div class="validation"></div>
                </div>
                <div class="form-group">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Email" data-rule="email"
                    data-msg="Please enter a valid email" />
                  <div class="validation"></div>
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" name="subject" id="subject" placeholder="Asunto"
                    data-rule="minlen:4" data-msg="Tu mensaje necesita ser mas largo" />
                  <div class="validation"></div>
                </div>
                <div class="form-group">
                  <textarea class="form-control" name="message" rows="5" data-rule="required"
                    data-msg="Please write something for us" placeholder="Mensaje"></textarea>
                  <div class="validation"></div>
                </div>

                <div id="sendmessage">Tu mensaje ha sido enviado, gracias por cotactarnos.</div>
                <div id="errormessage"></div>

                <div class="text-center"><button type="submit" title="Send Message">Enviar Mensaje</button></div>
              </form>
            </div>

          </div>



        </div>

      </div>
    </div>

    <div class="container">
      <div class="copyright">
        Equipo <strong>Kundalini Patagonia</strong>
      </div>
      <div class="credits">
        <!--
          All the links in the footer should remain intact.
          You can delete the links only if you purchased the pro version.
          Licensing information: https://bootstrapmade.com/license/
          Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Rapid
        -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer><!-- #footer -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
  <!-- Uncomment below i you want to use a preloader -->
  <!-- <div id="preloader"></div> -->

  <!-- JavaScript Libraries -->
  <script src="lib/jquery/jquery.min.js"></script>
  <script src="lib/jquery/jquery-migrate.min.js"></script>
  <script src="lib/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="lib/easing/easing.min.js"></script>
  <script src="lib/mobile-nav/mobile-nav.js"></script>
  <script src="lib/wow/wow.min.js"></script>
  <script src="lib/waypoints/waypoints.min.js"></script>
  <script src="lib/counterup/counterup.min.js"></script>
  <script src="lib/owlcarousel/owl.carousel.min.js"></script>
  <script src="lib/isotope/isotope.pkgd.min.js"></script>
  <script src="lib/lightbox/js/lightbox.min.js"></script>
  <!-- Contact Form JavaScript File -->
  <script src="contactform/contactform.js"></script>

  <!-- Template Main Javascript File -->
  <script src="js/main.js"></script>

</body>

</html>